//Patron de Colores
$texto: #111111;
$principal: #12AFAF;
$secundario: #009500;

//Tamaño de fuente base, tipo y color
html {
    font-size: 15px
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}

.bienvenidos {
    background: url(../images/fondo-encabezado.jpg) no-repeat center top;
    background-attachment: fixed !important;
    color: #fff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

//Propiedades Flex del Encabezado
.encabezado {
    background: $texto;
    color: #000;
    padding: .5rem 0;
    flex-wrap: wrap;
    transition: all .5s ease;
}

.encabezado.fondo-menu {
    background-color: #044e4e;
    padding: 1rem 0;
}

.encabezado .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

// Definicion de tamaño del logo
.encabezado .logo img {
    width: 150px;
    height: auto;
}

//Estilos de los botones Buscar y Menu
.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .8rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

/*Un margin en auto en un Item Flexible dentro de un Contenedor Flexible tomará el espacio disponible en el eje y lo
asignará en el margen especificado, en caso de ser mas de un margen, lo distribuirá*/

.boton-buscar {
    margin-left: auto;
    margin-right: .3rem;
}

#bloque-buscar {
    flex: 1 1 100%;
}

.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
    justify-content: center;
}

.contenedor-bloque-buscar input[type="text"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 7px 0px 0px 7px;
    padding: 1rem;
}

.contenedor-bloque-buscar input[type="submit"] {
    flex: 0 1 auto;
    border: 0;
    border-radius: 0px 7px 7px 0px;
    background: $principal;
    color: #fff;
    padding: 0 1rem;
}

#menu-principal {
    flex: 1 1 100%;
}

#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}

#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #ffffff82;
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: $principal;
}

.bienvenidos .btn-primary {
    color: #fff;
    background-color: $principal;
    border: none;
    margin-top: 1rem;
    transition: all .5s ease;
}

.texto-encabezado {
    margin-top: 5rem;
}

.texto-encabezado {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: #009500;
    border: none;
    outline: none;
    box-shadow: none;
}

.flecha-bajar a {
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}




.agencia {
    background: $principal;
    color: #fff;
}

.agencia img {
    margin: 0 auto;
    width: 80%;
    display: block;
}



.tu-mejor-eleccion h2 span {
    color: $principal;
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
    list-style: none;
}

.tu-mejor-eleccion ul li .fa {
    font-size: 2.3em;
    background-color: #009500;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}

.tu-mejor-eleccion ul li {
    min-height: 9.5rem;
}

.servicios {
    background: url("../images/fondo-servicios.jpg") no-repeat center center;
    background-attachment: fixed !important;
    background-size: cover;
    color: #fff;
}

.servicios img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios h3 {
    font-size: 1.2rem;
    margin: 0;
    flex: 1 1 auto;
}

.servicios h3 a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicios h3 a::after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}

.servicios h3 a:hover::after {
    left: -.5rem;
    opacity: 1;
    color: $principal;
}

.ultimos-proyectos a {
    text-decoration: none;
}

.ultimos-proyectos a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $texto;
}

.ultimos-proyectos .owl-carousel {
    margin-top: .5rem;
}

.ultimos-proyectos .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.ultimos-proyectos .owl-nav {
    display: flex;
    margin-top: .3rem;
    justify-content: center;
}

.ultimos-proyectos .owl-nav .owl-prev,
.ultimos-proyectos .owl-nav .owl-next {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $principal;
    transition: all .2s ease;
}

.ultimos-proyectos .owl-nav .owl-prev:hover,
.ultimos-proyectos .owl-nav .owl-next:hover {
    color: $secundario;
}

.piedepagina {
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}

.piedepagina .redes-sociales {
    list-style: none;
    margin: 0;
    padding: 0;
}

.piedepagina .redes-sociales a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 0 .5rem;
    opacity: .7;
    transition: all .2s ease;
}

.piedepagina .redes-sociales a:hover {
    opacity: 1;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.8rem;
    color: $texto;
    opacity: .9;
    z-index: 99999;
    text-decoration: none;
    line-height: 0;
    transition: all .2s ease;
    display: none;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: $principal;
}

.paginas-internas .bienvenidos {
    height: 50vh;
    background-attachment: scroll;
}

.paginas-internas .ruta {
    background-color: $principal;
    color: #fff;
}

.paginas-internas .ruta a {
    text-decoration: underline;
    color: #fff;
}

.paginas-internas .ruta a:hover {
    text-decoration: none;
}

.paginas-internas .panel .panel-heading {
    font-size: 1.2rem;
}

.paginas-internas .panel .panel-heading a {
    background: $principal;
    color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    transition: all .5s ease;
    text-decoration: none;
}

.lista-servicios {
    background-color: #D2F898;
}

.paginas-internas .panel .panel-heading a:hover {
    text-decoration: none;
    background-color: $secundario;
}

.paginas-internas .btn-primary {
    background-color: $principal;
    border: 1px solid $principal;
    transition: all .5s ease;
}

.paginas-internas .btn-primary:hover {
    background-color: $secundario;
    border: 1px solid $secundario;
}

.paginas-internas .lista-servicios .item-servicios .fa {
    font-size: 6rem;
    color: $principal;
    margin-bottom: 1rem;
    transition: all 1s ease;
}

.paginas-internas .lista-servicios .item-servicios:hover .fa {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}

.paginas-internas .lista-servicios .card-deck .card .card-body {
    background-color: #F9F9F9;
}

.paginas-internas .lista-servicios .card-deck .card {
    border: none;
}

.paginas-internas .lista-servicios .card-deck .card .card-footer {
    background-color: #F9F9F9;
}

.paginas-internas .modal .modal-dialog .modal-header {
    color: #fff;
    background-color: $texto;
}

.paginas-internas .modal .modal-dialog .modal-footer button {
    flex: 1 1 100%;
    background-color: $secundario;
}


@media(min-width: 768px) {
    #menu-principal {
        height: auto !important;
        order: 1;
        flex: 0 1 auto;
        margin-left: auto;
    }

    #menu-principal ul {
        display: flex;
        margin: 0;
    }

    #menu-principal ul li a {
        padding: .8rem;
        margin: 0 .3rem;
        text-transform: capitalize;
        border-top: none;
        transition: all .3s ease;
        border-bottom: 4px solid transparent;
    }

    #menu-principal ul li.active a,
    #menu-principal ul li a:hover {
        color: $principal;
        border-bottom: 4px solid $principal;
    }

    .encabezado .boton-buscar {
        order: 2;
        margin: 0;
    }

    #bloque-buscar {
        order: 3;
        position: absolute;
        width: 34vw;
        top: 2.8rem;
        right: 1rem;
    }

    #bloque-buscar .contenedor-bloque-buscar {
        border-radius: 10px;
        border: 3px solid #00000078;
    }

    .encabezado > .container {
        position: relative;
    }

    .servicios img {
        flex: 0 0 170px;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1.5s ease;
    }

    .servicios article:hover img {
        transform: rotateY(360deg) scale(1.2);
        transform-style: preserve-3d;
    }

    .servicios h3 a::after {
        display: none;
    }

    .servicios h3 {
        font-size: 1.5rem;
        margin: 0 0 .5rem 0;
        flex: 0 1 auto;
    }

    .servicios h3 a,
    .servicios p {
        display: block;
        width: 100%;
    }

}

@media(min-width: 992px) {
    html {
        font-size: 16px;
    }

    .bienvenidos {
        background: url(../images/fondo-encabezado-grande.jpg) no-repeat center top;
        background-size: cover;
    }

    .servicios {
        background: url(../images/fondo-servicios-grande.jpg) no-repeat center top;
        background-size: cover;
    }
    .tu-mejor-eleccion ul li {
        display: flex;
        min-height: 7.7rem;
    }

    .tu-mejor-eleccion ul li .fa {
        flex: 0 1 auto;
        margin-right: 1rem;
        transition: all 1.5s ease;
    }

    .tu-mejor-eleccion ul li:hover .fa {
        background-color: $principal;
        transform: rotateY(360deg);
        transform-style: preserve-3d;
    }

    .tu-mejor-eleccion ul li .contenedor-eleccion {
        flex: 1 0 0px;
    }

    .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        margin-top: 0;
        font-size: 1rem;
    }

    .tu-mejor-eleccion ul:first-child .fa {
        order: 1;
        margin-left: 1rem;
        margin-right: 0;
    }

    .tu-mejor-eleccion ul li p {
        font-size: .85rem;
    }

    .tu-mejor-eleccion .container div img {
        transition: all 3.5s cubic-bezier(0, 1.09, 0.2, 1);
    }

    .tu-mejor-eleccion .container div img:hover {
        transform: scale(1.1);
        transform-style: preserve-3d;
    }
}
